:root {
    --color-text-1: #101828;
    --color-text-2: #d0d5dd;
    --color-1: #f3ffff;
    --color-2: #ccd8e9;
    --color-2: #f2f4f7;
    --color-3: #101828;
    --color-4: #1d2939;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--color-text-1);
}

body {
    line-height: 1.5;
    background-color: #99cbcb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
